.pd-nav {
  margin: 20px;
  padding-left: 120px;
}

.product-detail-main {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.detail-container {
  display: flex;
  flex-direction: column;
}

.pd-release-data span {
  display: block;
}

.pd-sizes {
  display: flex;
  gap: 10px;
}

.pd-buttons {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  margin: 10px 0;
}

.pd-sizes button.active {
  background-color: #000;
  color: #fff;
}

/* Wishlist button */
.add-to-wishlist.active {
  background: #deed00;
  border-color: #deed00;
  color: black;
  font-weight: 600;
  box-shadow: 0 6px 16px rgba(233, 30, 99, 0.25);
}

.add-to-wishlist.active::after {
  content: " ♥";
}
